h1{

    color:red;
    font-size:20px;

}

h2{

    color:blueviolet;
    font: size 10px;
    margin-left: 50px;
    width: 1300px;
   
}

h5{
    color: blue;
    font: size 10px;
}
.img1{
    margin-left: 50px;
    width: 1300px;
    
}
